body {
    margin:0;
    
    font-family: "Roboto", Arial, sans-serif;
    
}

.firstbox {
    display:flex;
    background-color:#1F2937;
    height:30px;
    
}

.headertext {
    font-size:24px;
    color:#F9FAF8;
    flex:1;
    color:white;
    margin-left:20px;
    padding:10px;
}


.seperatebuttons {
    text-align: right;
    flex:1;
    color:#E5E7EB;
    font-size:18px;
    margin-right:20px;
    padding:10px;
    
}

.firstContainer {
    display:flex;
    background-color: #1F2937;
    height: 400px;
   

    
    
}

.firstColumn {
    display:flex;
    flex-direction:column;
    align-items: left;
    justify-content: center;
    width: 960px;
    height: 400px;
    padding-left:120px;
    
    

}

.secondColumn {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 400px;
    width: 960px;
}

.sampletext {
    width:300px;
    height:300px;
}











.maintext {
    font-size:48px;
    font-weight:800;
    flex-wrap:wrap;
    color:white;
    width: 400px;
    margin-bottom:5px;
    
    
    
    
    
    

        
    
}

.subtext {
    font-size:18px;
    color:#E5E7EB;
    flex-wrap:wrap;
    width:400px;
    margin-bottom:5px;
    
}

.buttontext {
    background-color:#3882F6;
    border-radius:15px;
    padding:15px;
    
    width:60px;
    
    

}

.secondContainer {
    display:flex;
    height: 400px;
    justify-content: space-evenly;
    margin-left:200px;
    margin-right:200px;
    
}



.secondContainer img {
    height: 200px;
    width: 200px;
    
    border:10px solid #3882F6;
    border-radius:10px;
    
    
    
    
    

}

.textAboveImages {
    text-align: center;
    margin:30px;
    font-size:36px;
    font-weight: 800;
    color:#1F2937;
}
